@charset "UTF-8";

/*Estilos para impressoras*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

body, html{
    font-size: 1em;
    line-height: 1.5em;
}

.navbar, section#portfolio, div#form, .btn, .img-about, footer{
    display: none;
}

section#contact::after{
    margin-top: 20px;
    text-align: center;
    color: #000000;
    content: '\00a9 copyright 2022.Criado por Denilson da Silva Pereira, todos os direitos reservados.';
}