@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --cor0: #000000;
    --cor1: #3D0000;
    --cor2: #950101;
    --cor3: #FF0000;
    --cor4: #FFFFFF;
    --cor5: #111111;
    --cor6: #222222;
}
body {
    font-family: var(--fonte0);
    scrollbar-width: thin;
    scrollbar-color: var(--cor0);
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: var(--cor0);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--cor2);
    border-radius: 5px;
}
li{
    list-style: none;
}
a{
    color: var(--cor4);
    text-decoration: none;
}
canvas{
    width:100%;
    max-width:700px;
}
.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cor0);
}
.logo{
    font-size: 1.5rem;
    font-weight: bolder;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: var(--cor3);
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--cor4);
    transition: all 0.3s ease-in-out;
}
.container{
    background-color: var(--cor4);
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: column ;
    justify-content: flex-start;
    align-items: center;
}

.item1{
    background-color: var(--cor5);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0 100px 0;
    color: var(--cor4);
}
.item2{
    background-color: var(--cor6);
    color: var(--cor4);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
}
.item3{
    background-color: var(--cor5);
    color: var(--cor4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 100px 0 150px 0;
    flex-wrap: wrap;
}
.item4{
    background-color: var(--cor6);
    color: var(--cor4);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 100px 0;
    flex-wrap: wrap;
}

/*HOME*/
.txthome{
    align-self: center;
}
.txthome h1{
    font-size: 2rem;
}
/*.imghome{
    
}*/
/*SOBRE*/
.txt-about{
    align-self: center;
    max-width: 700px;
    padding: 100px;
}
.img-about{
    width: 372px;
    height: 300px;
    padding-left: 50px;
}
.tools{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor2);
    color: var(--cor4);
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.4);
    transition: 1s;
}
.btn:hover{
    cursor: pointer;
    background-color: var(--cor3);
    color: var(--cor4);
    font-weight: bolder;
}
/*PORTFOLIO*/
.projetos{
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    justify-content: center;
    align-items: center;
}
.btn-group{
    display: flex;
    flex-basis: 100%;
    justify-content: flex-start;
    padding: 20px;
    margin-left: 1em;
}
.nav-port{
    background-color: var(--cor2);
    color: var(--cor4);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.nav-port:hover{
    background-color: var(--cor3);
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--cor4);
    color: var(--cor0);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 15px;
    margin-top: 20px;
    box-shadow: 20px 20px 50px -30px var(--cor0);
}
.cordel{
    margin-left: 0px !important;
}
.card:first-child{
    margin-left: 0;
}
.card h3{
    font-size: 100%;
    margin: 16px 0;
}
.card span{
    max-width: 240px;
    font-size: 90%;
    margin-bottom: 16px;
}
.card button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
}

.img-card{
    width: 250px;
    height: 150px;
}
.img-card img{
    width: 100%;
}
/*buttons card*/
.cod{
    background-color: var(--cor6);
    color: var(--cor4);
}
.cod:hover{
    background-color: var(--cor5);
    transition: 0.5s;
}
.plus{
    display: flex;
    flex-basis: 100%;
    justify-content: center;  
}
.plus button{
    width: 20%;
    padding: 10px ;
    border: none;
    border-radius: 10px;
    color: var(--cor4);
    background-color: var(--cor2);
    cursor: pointer;
}
.plus button:hover{
    background-color: var(--cor1);
    transition: 1s;
}

/*CONTACT*/

#titulo-pag{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}
.form input{
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    width: 350px;
}
.form textarea{
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    width: 350px;
}
.form{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-weight: bold;
    padding: 20px;
    width: 400px;
    box-shadow: 5px 5px 15px #00000096;
}
#form{
    margin-top: 40px;
}

/*FOOTER*/
footer{
    background-color: var(--cor0);
    color: var(--cor4);
    padding: 50px;
    text-align: center;
}
@media screen and (max-width: 768px){
    canvas{
        max-width:400px;
    }
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: var(--cor0);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .item1{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding: 150px 0 50px 0;
    }
    .txthome{
        padding-left: 50px;
    }
    .txthome > h1{
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .imghome{
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .btn{
        margin-top: 15px;
        padding: 15px;
    }
    .txt-about{
        text-align: center;
    }
    .item2{
        padding-top: 70px;

    }
    .projetos{
        flex-direction: column;
    }
    .card{
        margin-left: 0;
        margin-bottom: 32px;
    }
    .card:last-child{
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    canvas{
        max-width:600px;
    }
    .item1{
        background-color: var(--cor5);
        padding: 50px;
    }
    .item2{
        background-color: var(--cor6);
        color: var(--cor4);
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        flex-wrap: wrap;
    }
    .projetos{
        flex-direction: column;
    }
    .card{
        margin-left: 0;
        margin-bottom: 32px;
    }
    .card:last-child{
        margin-bottom: 0;
    }
    
}

@media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}